


*{
    margin: 0;
    padding:0;
    padding-top: 2%;
    text-align: center;
    box-sizing: border-box;
}

body{
    background-image:url(fondo2-est.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top;
    background-size:cover;
    margin: 10%;
}

.caja-video{
    padding-top:10%;
    padding-bottom: 15%;
}

.caja-t1{
    width: 100%;
    height: auto;
    background-color:rgba(218, 215, 215, 0.6);
    margin:auto;
    margin-bottom: 1cm;
    margin-top: 1cm;
    border-style:double;
    border-width: 0.1cm;
    border-color:rgba(217, 181, 173, 0.4) ;
   
}

.caja-t2{
    width: 85%;
    max-width: 500px;
    height: auto;
    background-color:rgba(218, 215, 215, 0.5) ;
    border-color:#d9b5ad66 ;
    border-style:groove;
    border-width: 0.1cm;
    border-radius: 5%;
    margin: auto;
    margin-bottom: 1cm;
    padding-bottom: 0.5cm;
}

.caja-t3{
    width: 100%;
    background-color:rgb(196, 147, 160, 0.7) ;
    margin: auto;
    margin-bottom: 0cm;
    padding-bottom: 0cm;
}

.caja-cita{
    width: 100%;
    height: auto;
    background-color:rgba(218, 215, 215, 0.6);
    margin:auto;
    margin-bottom: 1cm;
    margin-top: 0cm;
    border-style:double;
    border-width: 0.1cm;
    border-color:rgba(217, 181, 173, 0.4) ;
   
}

.caja-t4{
    width: 100%;
    height: auto;
    background-color:rgb(196, 147, 160) ;

    margin-bottom: -1cm;
}

h1{
    font-family:'Dancing Script' ;
    font-style:normal;
    font-size:70px;
    font-weight: lighter;
    text-align: center;
}

.cursiva{
    font-family: 'Dancing Script' ;
    font-style:normal;
    font-size:30px;
    font-weight: lighter;
    text-align: center;
    width: auto;
}

.inicial-L{
    font-family:'Dancing Script' ;
    font-style:normal;
    font-size:40px;
    font-weight:normal;
    text-align: center;
    width: auto;
    padding-right: 3cm;
}

.inicial-A{
    font-family: "Dancing Script" ;
    font-style:normal;
    font-size:40px;
    font-weight:normal;;
    text-align: center;
    width: auto;
    padding-left: 4cm;
}

.entimes{
    font-family:'Times New Roman', Times, serif ;
    font-style:normal;
    font-size:35px;
    font-weight:lighter;
    text-align: center;
    width: auto;
    margin-top: -0.9cm;
    margin-bottom: -0.9cm;
}

h2{
    font-family: 'Dancing Script' ;
    color: black;
    font-style:normal;
    font-size:35px;
    font-weight:lighter;
    text-align: center;
    padding-bottom: 10px;
    width: auto;
    height: auto;
}

h21{
    font-family:'Times New Roman', Times, serif ;
    font-style:normal;
    font-weight:normal;
    font-size:20px;
    text-align: center;
    padding-bottom: 20px;
    width: auto;
    height: auto;
    text-align: center;
}

.horaUSA{
    float:left;
    position: absolute;
    left: 5%;
    border-style: groove;
    border-color: #d9b5ad66;
    border-width: 0.06cm;
    background-color: rgb(196, 147, 160);
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.horaCOL{
    float:left;
    position: absolute;
    right: 5%;
    border-style: groove;
    border-color: #d9b5ad66;
    border-width: 0.06cm;
    background-color: rgb(196, 147, 160);
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.horaRec{
    float:left;
    position: absolute;
    left: 15%;
    border-style: groove;
    border-color: #d9b5ad66;
    border-width: 0.06cm;
    background-color: rgb(196, 147, 160);
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.lugarRec{
    width:40%;
    float: left;
    position: absolute;
    left: 30%;
    border-style: groove;
    border-color: #d9b5ad66;
    border-width: 0.06cm;
    background-color: rgb(196, 147, 160);
    padding: 1%;
}

.playlist{ 
    width: 30%;
    float: left;
    position: absolute;
    left: 35%;
    border-style: groove;
    border-color: #d9b5ad66;
    border-width: 0.06cm;
    background-color: rgb(196, 147, 160);
    padding: 1%;
}

.p-hyl{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    color: white;
}

a{
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    color: white;
}


.contenido{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    color: black;
}

h3{
    font-family: 'Dancing Script' ;
    color: white;
    font-style:normal;
    font-size:35px;
    font-weight:lighter;
    text-align: center;
    padding-bottom: 10px;
    width: auto;
    height: auto;
}

.hora-sc{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    color: black;
}

.anotacion{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: oblique;
    padding-top: 0.7cm ;
}

.cita{
    font-family: Sacramento  ;
    font-size: 35px;
    font-style:oblique;
    line-height: 0.7cm ;
    padding: 0.3cm;
}

.cita0{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: oblique;
    line-height: 0.7cm ;
    padding: 0.3cm;
}

h4{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
    font-size: 25px;
    font-weight:normal ;
    font-style: normal;
}

.p-conf{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
    font-size: 17px;
    font-weight:normal ;
    font-style: normal;
}

.grid-container{
    display: grid;
    grid-template-columns: 23.3% 25% 25% 23.3%;
    gap: 1.7%;
    padding: 5%;
    padding-bottom: 10%;
    grid-auto-flow: dense;
}

.grid-item{
    display:grid;
    align-items:end;
    justify-content:center;
}

.im-1{
    grid-row: span 4;
    grid-column: span 4;
}

.im-2{
    grid-row: span 4;
    grid-column: span 2;
}